[Match]
Name=usb*
Driver=g_ether

[Link]
RequiredForOnline=no

[Network]
Address=0.0.0.0/28
DHCPServer=yes
IPForward=ipv6
IPv6SendRA=yes
DHCPPrefixDelegation=yes

[DHCPServer]
DefaultLeaseTimeSec=1h
MaxLeaseTimeSec=1h
PersistLeases=runtime
