[Unit]
Description=Announce SSH server via mDNS
BindsTo=sshd.socket
After=sshd.socket avahi-daemon.service

[Service]
Type=simple
ExecStart=/usr/sbin/bd-mdns -s -S 'chargebox_serial,serial,serial#'
