[Unit]
Description=Announce SSH server via mDNS
After=network.target
Wants=network.target

[Service]
type=simple
ExecStart=/usr/sbin/bd-mdns -s -S 'chargebox_serial,serial,serial#'

[Install]
WantedBy=multi-user.target
