#
# This script re-configures the boot LED after successfully booting of the board.
#

[Unit]
Description=LED boot notification
After=rauc-mark-good.service
Requires=rauc-mark-good.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/led-boot-notification.sh
SyslogFacility=local0

[Install]
WantedBy=multi-user.target
