[Unit]
Description=LED boot notification
#
# This script sets the green LED to on after successfully booting of the board.
#
After=rauc-mark-good.service
Requires=watchdogd.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/led-boot-notification.sh
SyslogFacility=local0

[Install]
WantedBy=multi-user.target
