[Match]
Name=br0

[Link]
RequiredForOnline=no

[Network]
DHCP=yes
IPv6AcceptRA=yes

[DHCPv4]
ClientIdentifier=mac
UseHostname=no

[DHCPv6]
UseHostname=no

[Address]
Label=br0:fallback
Address=169.254.12.53/16
DuplicateAddressDetection=none
