[Match]
Name=eth2
# Note: We cannot bind it to this driver name because there seems
# to be a race/bug during boot which prevents udev ID_NET_DRIVER
# being set. Calling "udevadm trigger --subsystem-match=net" works.
#Driver=st_gmac

[Link]
RequiredForOnline=no

[Network]
DHCP=no
IPv6AcceptRA=no
LinkLocalAddressing=no
ConfigureWithoutCarrier=yes
