[Match]
Name=eth2
Driver=qcaspi

[Link]
RequiredForOnline=no

[Network]
DHCP=yes

[IPv6AcceptRA]
RouteMetric=2048

[DHCPv4]
ClientIdentifier=mac
UseHostname=no
RouteMetric=2048

[DHCPv6]
UseHostname=no
RouteMetric=2048
