[Match]
Name=eth3
driver=smsc95xx

[Link]
RequiredForOnline=no

[Network]
DHCP=yes
IPv6AcceptRA=yes

[DHCPv4]
ClientIdentifier=mac
UseHostname=no

[DHCPv6]
UseHostname=no
